<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" targetFramework="portable46-net451+win81+wpa81" version="9.0.1" />
  <package id="protobuf-net-sharpcaster" version="2.0.0.668" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Rssdp" version="2.0.7-beta" targetFramework="portable46-net451+win81" />
  <package id="Sharpcaster.SocketsForPCL" version="2.0.4" targetFramework="portable46-net451+win81+wpa81" />
</packages>