name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore SharpCaster.sln
    - name: Extract tag name
      id: tag
      uses: actions/github-script@0.2.0
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        scrit: |
          return gh release view -q .name --json name
    - name: Build
      run: dotnet build --no-restore --configuration Release /p:Version=${{ steps.tag.outputs.result }} SharpCaster.sln
    - name: Package
      run: dotnet pack --configuration Release /p:Version=${{ steps.tag.outputs.result }} Sharpcaster/Sharpcaster.csproj
    - name: Push
      if: github.ref == 'refs/heads/main'
      run:  dotnet nuget push "**/*.nupkg" -k $NUGET_AUTH_TOKEN -s nuget.org
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.NUGET }}
